.title{
    text-align: center;
    color: rgb(102, 173, 236);

}
.container{
    background-color: rgb(247, 236, 236);
    height: 85rem;
}
body{
    background-color: rgb(84, 84, 84);
}
.tabla{
    background-color: aqua;
    width: 20rem;
}

.agregar{
    width: 5rem;
    height: 2rem;
    margin-left: 20rem;
}